<div class="row">
  <div class="col-md-3">
    <%= render 'layouts/today_logo' %>
  </div>
  <div class="col-md-6">
    <p><strong>Today</strong> keeps you up-to-date with what you and your friends are up to.</p>
    <p>If you haven&rsquo;t already signed up, click on the <strong>Sign Up</strong>
link at the top of this page....</p>
  </div>
  <div class="col-md-3">
  </div>
</div>
